#include "../../MyVersionInfo.rc"
#include "resource.h"

MY_VERSION_INFO_APP("7z Setup SFX", "7zS.sfx")

IDI_ICON  ICON "setup.ico"

STRINGTABLE
BEGIN
  IDS_EXTRACTION_ERROR_TITLE   L"Extraction Failed / Помилка розпакування"
  IDS_EXTRACTION_ERROR_MESSAGE L"File is corrupt / Файл пошкоджено"
  IDS_CANNOT_CREATE_FOLDER     L"Cannot create folder / Не вдалося створити теку '{0}'"
  IDS_PROGRESS_EXTRACTING      L"Extracting / Розпакування"
END

#include "../../UI/FileManager/ProgressDialog.rc"
